/* ===== BASIC ===== */
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Arial;
}

body{
 background:black;
 color:white;
}

/* NAVBAR */
nav{
 display:flex;
 justify-content:space-between;
 padding:15px 40px;
 position:fixed;
 width:100%;
 top:0;
 background:black;
}

.logo{
 color:#ff0a3b;
 font-weight:bold;
}

nav ul{
 display:flex;
 list-style:none;
}

nav ul li{
 margin:0 10px;
}

nav a{
 color:white;
 text-decoration:none;
}

.active{
 color:#ff0a3b;
}

/* CARD */
.card{
 width:70%;
 margin:120px auto;
 background:#111;
 padding:25px;
 border-radius:10px;
 text-align:center;
}

/* BUTTONS */
.contact-buttons{
 display:flex;
 flex-direction:column;
 gap:15px;
 margin-top:20px;
}

.call-btn{
 display:block;
 padding:15px;
 background:#ff0a3b;
 color:white;
 text-decoration:none;
 border-radius:8px;
 font-size:16px;
 transition:0.3s;
}

.call-btn:hover{
 background:#ff2c5c;
 transform:scale(1.05);
}

/* FOOTER */
footer{
 text-align:center;
 padding:15px;
}
