/* ===== BASIC ===== */
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:Arial;
}

body{
 background:black;
 color:white;
}

/* ===== NAVBAR ===== */
nav{
 display:flex;
 justify-content:space-between;
 padding:15px 40px;
 position:fixed;
 width:100%;
 top:0;
 background:black;
}

.logo{
 color:#ff0a3b;
 font-weight:bold;
}

nav ul{
 display:flex;
 list-style:none;
}

nav ul li{
 margin:0 10px;
}

nav a{
 color:white;
 text-decoration:none;
}

nav a.active{
 color:#ff0a3b;
}

/* ===== CARD ===== */
.card{
 width:70%;
 margin:120px auto 40px;
 background:rgba(0,0,0,0.8);
 padding:25px;
 border-radius:12px;
 text-align:center;
 box-shadow:0 0 10px #222;
}

.card h2{
 color:#ff0a3b;
}

/* ===== INPUT ===== */
input{
 width:90%;
 padding:10px;
 margin:10px;
 border-radius:5px;
 border:none;
}

/* ===== BUTTON ===== */
button{
 padding:10px 15px;
 margin:5px;
 background:#ff0a3b;
 color:white;
 border:none;
 border-radius:5px;
}

button:hover{
 opacity:0.8;
 cursor:pointer;
}

.sos{
 background:red;
}

/* ===== RESULT ===== */
#result{
 margin-top:15px;
 font-size:18px;
 font-weight:bold;
}

/* ===== STEPS ===== */
.steps{
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 gap:20px;
 margin-top:20px;
}

.step-box{
 background:#111;
 padding:15px;
 width:200px;
 border-radius:10px;
 position:relative;
 transition:0.3s;
}

.step-box:hover{
 transform:translateY(-6px);
 box-shadow:0 0 15px #ff0a3b;
}

.step-number{
 position:absolute;
 top:-12px;
 left:50%;
 transform:translateX(-50%);
 background:#ff0a3b;
 width:30px;
 height:30px;
 border-radius:50%;
 display:flex;
 align-items:center;
 justify-content:center;
}

/* ===== TIPS ===== */
.tips-grid{
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 gap:20px;
 margin-top:20px;
}

.tip-box{
 background:#111;
 padding:15px;
 width:200px;
 border-radius:10px;
 transition:0.3s;
}

.tip-box:hover{
 transform:translateY(-6px);
 box-shadow:0 0 15px #ff0a3b;
}

.tip-box h3{
 color:#ff0a3b;
}

/* ===== FOOTER ===== */
footer{
 text-align:center;
 padding:15px;
}

/* ===== RESPONSIVE ===== */
@media(max-width:768px){
 .card{
  width:90%;
 }

 .step-box,
 .tip-box{
  width:90%;
 }
}
